<html>
<head> <title> Login </title>
<link rel=stylesheet href="/stylesheets/best.css">
</head>
<body>
<center>
<div id="divHeading">  
	
	<ul>
		<li> <a href="/signup"> Signup</a> </li>
		<li> <a href="/login"> Login </a> </li>
		<li> <a href="/rules"> Rules </a> </li>
		<li> <a href="/team"> Team </a> </li>
		
				
	</ul>
	
</div>
<div id="divLine"> </div>
<br> 

<div id="divLogin"> 
<img src="/images/chakravyuha.jpg" > 
<br>
<br>
<font size="40"> <u>  Login: </u> </font>

<form method="post">

UserName:
<br>
<input type="text" name="uname">
<br>
Password:
<br>
<input type="password" name="passwd">
<br><br>
<input type="submit" value="Enter the Chakravyuha">
<br> 
<font color="red" size="4"> {{err}} </font>
<br>
</form>
</div>
</body>
</html>
