<html>
<head>
<title> Level 9 </title>
<link rel=stylesheet href="/stylesheets/best.css">
<body>
<center>
<div id="divHeading">

	
	<ul>
		
		<li> <a href="/rules">  Rules </a> </li>
		<li> <a href="/ranking"> Ranking </a> </li>
		<li> <a href="http://www.facebook.com/Chakravyuha2012/app_202980683107053"> Forum </a> </li>
		<li> <a href="/logout"> Logout </a> </li>
				
	</ul>
	
</div>
<div id="divLine"> </div>
<br> 

<div id="divQ">
<img src="/images/sadnoobffs.png" height= "200" "> 
<br> <br> 
<font size="3">
Putnam Pens (PP) launched their new marker on Sunday. It was the most successful product 
launch in the history of luxury pens. However this dream launch turned into a nightmare 
when several users of the marker complained of headache and fever. Lab tests found that 
the marker contained high levels of a certain type of toxin which lead to an outbreak of 
brain fever. The disease started with a seizure which lead to the mutation of a certain 
gene. Several people went into a coma. The authorities are in a state of shock. Only way 
out of this for the people who are carrying this mutated gene seems to be a cure which 
can potentially end their lives if it goes wrong. The authorities feel that this fatal cure is 
an acceptable risk that may have to be taken in order to get over this strange disease.
</font>

<br>
<br>
<form method="post">
<label>
<input type="text" name="ans">
<input type="submit" value="answer">
<pre>
<font color="red">
{{error}}
<br>
Number of Incorrect Tries:
<br>
{{Tries}}

</label>
</form>
</div>
</body>

