<html>
<head>
<title> Level 12 Traps </title>
<link rel=stylesheet href="/stylesheets/best.css">
<body>
<center>
<div id="divHeading">

	
	<ul>
		
		<li> <a href="/rules">  Rules </a> </li>
		<li> <a href="/ranking"> Ranking </a> </li>
		<li> <a href="/forum"> Forum </a> </li>
		<li> <a href="/logout"> Logout </a> </li>
				
	</ul>
	
</div>
<div id="divLine"> </div>
<br> 

<div id="divQ">
<img src="/images/sadnoobffs.png" width=200> 
<br> <br> 
<font size="5">
Great going mate … you have reached the stage where you will have to answer Philosoraptor’s questions. He is our Yaksha . Yaksha asked yudhistira questions regarding truth and philosophy but our modern Yaksha is not going to bug you with those difficult questions … Ok lets go … FIND the philosoraptor and answer his questions and answer his questions ..
</font>

<br>
<br>
<form method="post">
<label>

<pre>
<font color="red">
{{error}}
<br>


</label>
</form>
</div>
</body>

