<html>
<head>
<title> Level 20 Traps </title>
<link rel=stylesheet href="/stylesheets/best.css">
<body>
<center>
<div id="divHeading">

	
	<ul>
		
		<li> <a href="/rules">  Rules </a> </li>
		<li> <a href="/ranking"> Ranking </a> </li>
		<li> <a href="/forum"> Forum </a> </li>
		<li> <a href="/logout"> Logout </a> </li>
				
	</ul>
	
</div>
<div id="divLine"> </div>
<br> 

<div id="divQ">
<!-Made this while watching mystic river, the detective was stupid!  -!>
<img src="/images/sadnoobffs.png" width=200"> 
<br> <br> 
<font size="5">

Mamma Mia! What a band it was .. Certainly one of my favorites, do you know which was their highest selling album ??

<br>
<br>
<br>

       ABBAAAAAAAABBABABBBABAAAB

</font>

<br>
<br>
<br>

<form method="post">
<label>
<input type="text" name="ans">
<input type="submit" value="answer">
<pre>
<font color="red">


{{error}}
<br>
Number of Incorrect Tries:
<br>
{{Tries}}
</label>
</form>
</div>
</body>

