<html>
<head>
<title> Final </title>
<link rel=stylesheet href="/stylesheets/best.css">
<body>
<center>
<div id="divHeading">

	
	<ul>
		
		<li> <a href="/rules">  Rules </a> </li>
		<li> <a href="/ranking"> Ranking </a> </li>
		<li> <a href="/forum"> Forum </a> </li>
		<li> <a href="/logout"> Logout </a> </li>
				
	</ul>
	
</div>
<div id="divLine"> </div>
<br> 

<div id="divQ">

<img src="/images/sadnoobffs.png" height=200"> 
<br> <br> 
<font size="10">

The outside world awaits <br>
A code will get you through <br>
Thousands of years ago <br>
A boy was here where you are<br>
The boy and his father will tell you the code<br>
Nine will again set you fine<br>
Separate by dots and you will shine<br> 


<br><br>

<form method="post">
<label>
<input type="text" name="ans">
<input type="submit" value="answer">
<pre>
<font color="red">


{{error}}
<br>
Number of Incorrect Tries:
<br>
{{Tries}}
</label>
</form>
</div>
</body>

