<html>
<head>
<title> Level 7 </title>
<link rel=stylesheet href="/stylesheets/best.css">
<body>
<center>
<div id="divHeading">

	
	<ul>
		
		<li> <a href="/rules">  Rules </a> </li>
		<li> <a href="/ranking"> Ranking </a> </li>
		<li> <a href="http://www.facebook.com/Chakravyuha2012/app_202980683107053"> Forum </a> </li>
		<li> <a href="/logout"> Logout </a> </li>
				
	</ul>
	
</div>
<div id="divLine"> </div>
<br> 

<!- with movies like Sixth sense and Signs manoj shyamalan has held the indian flag high in hollywood.Did you know he also wrote the screenplay for a very popular movie involving a mouse -!>

<div id="divQ">
<img src="/images/sadnoobffs.png" width=200> 
<br> <br> 
<font size="10" color="red">
cvjzmisijtm
<br>
<br>
</font>
Do you know the secret of the Roman’s success ?
It’s Raja Yoga.
<br>
<br>
<form method="post">
<label>
<input type="text" name="ans">
<input type="submit" value="answer">
<pre>
<font color="red">
{{error}}
<br>
Number of Incorrect Tries:
<br>
{{Tries}}

</label>
</form>
</div>
</body>

